.chat-container{
    width: 90vw;
    margin-left: 5vw;
    height: 68vh;
    background-color: rgb(122, 81, 225);
    border-radius: 5vh;
    margin-top: 3vh;
    padding-top: 2vh;
    overflow-y: auto;
}

