.footer-container{
    display: flex;
    align-items: center;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    bottom: 0;
    position: fixed;
    width: 100vw;
    justify-content: space-between;
}

.footer-link{
    color: rgb(184, 28, 205);
    font-size: 1.2vw;
    margin: 2vw;
}

a{
    text-decoration: none;
}