.register-container{
    width: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    height: 90vh;

}
*::placeholder{
    color: white;
}
.register-header{
    text-align: center;
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
    margin-top: 10vh;

}

.register-redirect{
    display: flex;
    justify-content: left;
    color: white;
    justify-content: center;
    margin-top: 8vh;
    gap: 1vw;
}

.login-elements{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:4vh;
    margin-left: 2vw;
    margin-top: 4vh;
}

.register-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 8vh;
    margin-left: 2vw;
}

.switch-button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.6vh;
}

.hidden{
    display: none;
}